<%if current_user%>
  Welcome <%current_user.name%>
  <br>
  <a class= 'btn btn-primary' href="/signout">Sign Out</a>
<%else %>
<a class= 'btn btn-primary' href="/auth/github">Login To Github</a>
<%end%>